In [1]:
from utils import *
import pandas as pd

In [2]:
df_mme = pd.read_csv("data/M.csv")

In [3]:
df = df_mme.pipe(clean_data).query("Fecha >= '2022-01-01'")
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [4]:
df_mme.query("Estado != 'R'")

Empty DataFrame
Columns: [Identificador, Fecha, Estado, Tipo, Cuenta, Beneficiario, Categoría, Importe, Divisa, Número, Notas]
Index: []

In [6]:
pd.concat([
    (df_despacho
     .pipe(pivot_by_category, ["Tipo", "Categoria", "Subcategoria", "Beneficiario"])
     .query("Tipo == 'Gastos' and Total > 0")
    ),
    (df_hogar
     .pipe(pivot_by_category, ["Tipo", "Categoria", "Subcategoria", "Beneficiario"])
     .query("Tipo == 'Gastos' and Total > 0")
    )
])

Empty DataFrame
Columns: [Tipo, Categoria, Subcategoria, Beneficiario, Diciembre 2023, Noviembre 2023, Octubre 2023, Septiembre 2023, Agosto 2023, Julio 2023, Junio 2023, Mayo 2023, Abril 2023, Marzo 2023, Febrero 2023, Enero 2023, Diciembre 2022, Noviembre 2022, Octubre 2022, Septiembre 2022, Agosto 2022, Julio 2022, Junio 2022, Mayo 2022, Abril 2022, Marzo 2022, Febrero 2022, Enero 2022, Media, Total, Enero 2024]
Index: []

[0 rows x 31 columns]

In [8]:
(df_despacho
     .pipe(pivot_by_category, ["Tipo", "Categoria", "Subcategoria", "Beneficiario"])
     .query("Tipo == 'Gastos' and Total > 0")
)

Empty DataFrame
Columns: [Tipo, Categoria, Subcategoria, Beneficiario, Diciembre 2023, Noviembre 2023, Octubre 2023, Septiembre 2023, Agosto 2023, Julio 2023, Junio 2023, Mayo 2023, Abril 2023, Marzo 2023, Febrero 2023, Enero 2023, Diciembre 2022, Noviembre 2022, Octubre 2022, Septiembre 2022, Agosto 2022, Julio 2022, Junio 2022, Mayo 2022, Abril 2022, Marzo 2022, Febrero 2022, Enero 2022, Media, Total]
Index: []

[0 rows x 30 columns]

In [9]:
df.sample(5)

,Fecha,Tipo,Categoria,Subcategoria,Beneficiario,Transaccion,Importe
978,2023-04-25,Ingresos,Ingresos,Nómina,SANTANDER TECNOLOGIA,Abono,2765.87
456,2022-08-31,Gastos,Extras,Viajes,TORREVIEJA,Cargo,-10.4
847,2023-03-21,Gastos,Gastos Fijos,Clases Inglés,SHIRA COHEN,Cargo,-32.0
2322,2022-11-18,Gastos,Supervivencia,Farmacia,FARMACIA ALCORCON,Cargo,-6.8
744,2022-12-31,Gastos,Extras,Viajes,ITALIA,Cargo,-4.25

In [10]:
(df_hogar
    .query("Fecha.dt.year == 2023")
    .pipe(pivot_by_category_totals, ["Tipo"])
       .pipe(style_locale_es)
 )

In [11]:
(df_despacho
    .query("Fecha.dt.year == 2023")
    .pipe(pivot_by_category_totals, ["Tipo"])
    .pipe(style_locale_es)
 )