In [8]:
from utils import *
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [9]:
df = pd.read_csv("data/M.csv") \
                .pipe(clean_data)

In [10]:
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [11]:
(df_despacho
     .pipe(pivot_by_category_totals, ["Tipo"])
     .pipe(style_locale_es)
 )

In [12]:
(df_hogar
     .pipe(pivot_by_category_totals, ["Tipo"])
     .pipe(style_locale_es)
 )