In [105]:
from utils import *
import pandas as pd

In [106]:
df_mme = pd.read_csv("data/M.csv")

In [107]:
df = df_mme.pipe(clean_data).query("Fecha >= '2022-01-01'")
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [108]:
df_mme.query("Estado != 'R'")

Empty DataFrame
Columns: [Identificador, Fecha, Estado, Tipo, Cuenta, Beneficiario, Categoría, Importe, Divisa, Número, Notas]
Index: []

In [109]:
pd.concat([
    (df_despacho
     .pipe(pivot_by_category, ["Tipo", "Categoria", "Subcategoria", "Beneficiario"])
     .query("Tipo == 'Gastos' and Total > 0")
    ),
    (df_hogar
     .pipe(pivot_by_category, ["Tipo", "Categoria", "Subcategoria", "Beneficiario"])
     .query("Tipo == 'Gastos' and Total > 0")
    )
])

Empty DataFrame
Columns: [Tipo, Categoria, Subcategoria, Beneficiario, Diciembre 2022, Noviembre 2022, Octubre 2022, Septiembre 2022, Agosto 2022, Julio 2022, Junio 2022, Mayo 2022, Abril 2022, Marzo 2022, Febrero 2022, Enero 2022, Media, Total, Enero 2023]
Index: []

In [110]:
df.sample(5)

,Fecha,Tipo,Categoria,Subcategoria,Beneficiario,Transaccion,Importe
198,2022-05-03,Ingresos,Ingresos,Intereses Bancarios,OPENBANK,Abono,1.72
306,2022-07-03,Gastos,Préstamo,<NA>,TIA MARICARMEN,Cargo,-50.0
1642,2022-03-21,Gastos,Despacho - Ocio,Restaurantes,MCDONALDS,Cargo,-22.75
1652,2022-03-25,Ingresos,Despacho - Ingresos,Ana,JUAN LUIS DE MIGUEL GUTIERREZ,Abono,242.0
790,2022-05-03,Gastos,Cultura,Libros,AMAZON,Cargo,-22.75

In [111]:
(df_hogar
    .query("Fecha.dt.year == 2023")
    .pipe(pivot_by_category_totals, ["Tipo"])
       .pipe(style_locale_es)
 )

In [112]:
(df_despacho
    .query("Fecha.dt.year == 2023")
    .pipe(pivot_by_category_totals, ["Tipo"])
    .pipe(style_locale_es)
 )