In [96]:
from utils import *
import pandas as pd

In [97]:
df_mme = pd.read_csv("data/M.csv")

In [98]:
df = df_mme.pipe(clean_data).query("Fecha >= '2022-01-01'")
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [99]:
df_mme.query("Estado != 'R'")

Empty DataFrame
Columns: [Identificador, Fecha, Estado, Tipo, Cuenta, Beneficiario, Categoría, Importe, Divisa, Número, Notas]
Index: []

In [100]:
pd.concat([
    (df_despacho
     .pipe(pivot_by_category, ["Tipo", "Categoria", "Subcategoria", "Beneficiario"])
     .query("Tipo == 'Gastos' and Total > 0")
    ),
    (df_hogar
     .pipe(pivot_by_category, ["Tipo", "Categoria", "Subcategoria", "Beneficiario"])
     .query("Tipo == 'Gastos' and Total > 0")
    )
])

Empty DataFrame
Columns: [Tipo, Categoria, Subcategoria, Beneficiario, Diciembre 2022, Noviembre 2022, Octubre 2022, Septiembre 2022, Agosto 2022, Julio 2022, Junio 2022, Mayo 2022, Abril 2022, Marzo 2022, Febrero 2022, Enero 2022, Media, Total, Enero 2023]
Index: []

In [101]:
df.sample(5)

,Fecha,Tipo,Categoria,Subcategoria,Beneficiario,Transaccion,Importe
413,2022-08-26,Gastos,Extras,Viajes,TORREVIEJA,Cargo,-15.27
1169,2022-06-21,Gastos,Extras,Varios,VERDECORA,Cargo,-16.0
810,2022-05-26,Gastos,Gastos Fijos,Clases Inglés,JOE,Cargo,-32.0
68,2022-01-31,Gastos,Gastos Fijos,Paga,AIMAR,Cargo,-5.0
1428,2022-01-11,Gastos,Extras,Regalos,AMAZON,Abono,139.0

In [102]:
(df_hogar
    .query("Fecha.dt.year == 2023")
    .pipe(pivot_by_category_totals, ["Tipo"])
       .pipe(style_locale_es)
 )

In [103]:
(df_despacho
    .query("Fecha.dt.year == 2023")
    .pipe(pivot_by_category_totals, ["Tipo"])
    .pipe(style_locale_es)
 )

In [104]:
df.query("Fecha.dt.year == 2023")

,Fecha,Tipo,Categoria,Subcategoria,Beneficiario,Transaccion,Importe
688,2023-01-02,Gastos,Gastos Fijos,Paga,AIMAR,Cargo,-5.0
689,2023-01-02,Gastos,Extras,Celebraciones,DOÑA LUZ,Cargo,-50.0
691,2023-01-02,Gastos,Gastos Fijos,Salud,ASISA DENTAL,Cargo,-8.23
693,2023-01-03,Gastos,Gastos Fijos,Comunidad Propietarios,COMUNIDAD PROPIETARIOS GOYA ZURBARAN,Cargo,-115.0
694,2023-01-03,Gastos,Extras,Servicios Online,DIGITALOCEAN,Cargo,-9.87
695,2023-01-03,Gastos,Gastos Fijos,Universidad,UNIVERSIDAD EUROPEA,Cargo,-1025.95
696,2023-01-03,Ingresos,Ingresos,Bonificaciones,OPENBANK,Abono,0.47
697,2023-01-03,Ingresos,Ingresos,Bonificaciones,OPENBANK,Cargo,-0.09
698,2023-01-03,Gastos,Cultura,Libros,VERKAMI.COM,Cargo,-17.0
699,2023-01-03,Gastos,Gastos Fijos,Pan,PAN Y MAS,Cargo,-25.74
703,2023-01-04,Gastos,Préstamo,<NA>,AIMAR,Cargo,-5.0
922,2023-01-04,Gastos,Extras,Comida Dietética,AMAZON,Cargo,-12.49
1409,2023-01-04,Gastos,Extras,Limosna,No Definido,Cargo,-10.0
1411,2023-01-02,Gastos,Supervivencia,Alimentación,BODEGAS BELMONTE,Cargo,-52.45
1412,2023-01-02,Gastos,Supervivencia,Alimentación,CHURRERIA ALCORCON,Cargo,-20.0
1413,2023-01-02,Gastos,Supervivencia,Alimentación,ALDI,Cargo,-55.8
1414,2023-01-02,Gastos,Supervivencia,Alimentación,CHINO,Cargo,-5.5
1415,2023-01-03,Gastos,Préstamo,<NA>,AIMAR,Cargo,-15.0
1416,2023-01-04,Gastos,Préstamo,<NA>,AIMAR,Cargo,-10.0
1417,2023-01-03,Gastos,Extras,Regalos,No Definido,Cargo,-5.0
1418,2023-01-03,Gastos,Extras,Celebraciones,DOÑA LUZ,Cargo,-40.0
1419,2023-01-04,Gastos,Supervivencia,Alimentación,MERCADONA,Cargo,-52.7
1420,2023-01-04,Gastos,Extras,Regalos,MERCADONA,Cargo,-11.4
1421,2023-01-04,Gastos,Extras,Regalos,PRIMOR,Cargo,-28.74
1422,2023-01-04,Gastos,Extras,Peluquería,HERBOLOARIO PARQUESUR,Cargo,-9.0
1423,2023-01-02,Gastos,Extras,Limosna,No Definido,Cargo,-1.0
1424,2023-01-02,Gastos,Supervivencia,Alimentación,MERCADONA,Cargo,-4.45
1425,2023-01-04,Gastos,Extras,Regalos,WOMEN SECRET,Cargo,-49.22
1426,2023-01-01,Gastos,Extras,Regalos,LA CASA DE LAS CARCASAS,Cargo,-55.54
1427,2023-01-05,Gastos,Extras,Ajustes,No Definido,Abono,3.4
2172,2023-01-02,Gastos,Gastos Fijos,Planes de Pensiones,MUTUALIDAD ABOGACIA,Cargo,-837.03
2176,2023-01-04,Gastos,Gastos Fijos,Adsl,ORANGE,Cargo,-102.14
2177,2023-01-04,Gastos,Extras,Regalos,FOOT LOCKER,Cargo,-48.99