In [1]:
from utils import *
import pandas as pd

In [2]:
df_mme = pd.read_csv("data/M.csv")

In [3]:
df_mme.query("Estado != 'R'")

,Identificador,Fecha,Estado,Tipo,Cuenta,Beneficiario,Categoría,Importe,Divisa,Número,Notas
1448,2544,20/12/2022,NaN,Withdrawal,OPENBANK ECUENTA,Desconocido,Desconocido,-20.0,EUR,NaN,NaN

In [4]:
df = df_mme.pipe(clean_data).query("Fecha >= '2022-01-01'")
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [5]:
df.sample(5)

,Fecha,Tipo,Categoria,Subcategoria,Beneficiario,Transaccion,Importe
1218,2022-07-27,Ingresos,Despacho - Ingresos,Ana,SILVIA GARCIA ROLDAN,Abono,400.0
1831,2022-08-04,Gastos,Extras,Viajes,BUDAPEST,Cargo,-35.29
1839,2022-08-08,Gastos,Extras,Viajes,BUDAPEST,Cargo,-8.96
2055,2022-11-07,Gastos,Extras,Varios,BIOCULTURA,Cargo,-13.48
808,2022-07-07,Gastos,Extras,Varios,AMAZON,Cargo,-159.9

In [7]:
(df_hogar
    .pipe(pivot_by_category_totals, ["Tipo"])
        #.pipe(style_locale_es)
       .pipe(style_dataframe_totals, ['Tipo'])
 )

In [19]:
(df_despacho
     .pipe(pivot_by_category_totals, ["Tipo"])
     .pipe(style_locale_es)
 )