In [22]:
from utils import *
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [23]:
df_mme = pd.read_csv("data/M.csv")

In [24]:
df_mme.query("Estado != 'R'")

,Identificador,Fecha,Estado,Tipo,Cuenta,Beneficiario,Categoría,Importe,Divisa,Número,Notas
1448,2544,20/12/2022,NaN,Withdrawal,OPENBANK ECUENTA,Desconocido,Desconocido,-20.0,EUR,NaN,NaN

In [25]:
df = df_mme.pipe(clean_data) 
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [26]:
df

,Fecha,Tipo,Categoria,Subcategoria,Beneficiario,Importe
0,2022-01-11,Ingresos,Ingresos,Intereses Bancarios,OPENBANK,0.69
1,2022-02-11,Ingresos,Ingresos,Intereses Bancarios,OPENBANK,0.69
2,2022-03-11,Ingresos,Ingresos,Intereses Bancarios,OPENBANK,0.62
3,2022-04-11,Ingresos,Ingresos,Intereses Bancarios,OPENBANK,0.69
4,2022-05-11,Ingresos,Ingresos,Intereses Bancarios,OPENBANK,0.66
...,...,...,...,...,...,...
2188,2022-08-25,Gastos,Transferencia,NaN,METALICO,-140.00
2189,2022-12-24,Gastos,Transferencia,NaN,METALICO,-5.75
2190,2022-12-25,Gastos,Transferencia,NaN,METALICO,-50.00
2191,2022-07-07,Gastos,Transferencia,NaN,IBERCAJA,-29.27
2192,2022-08-02,Gastos,Transferencia,NaN,IBERCAJA,-50.00

In [30]:
(df_hogar
    #.query("Fecha >= '2023-01-01'")
    .pipe(pivot_by_category_totals, ["Tipo"])
    # .pipe(style_locale_es)
 )

,Tipo,Diciembre 2022,Noviembre 2022,Octubre 2022,Septiembre 2022,Agosto 2022,Julio 2022,Junio 2022,Mayo 2022,Abril 2022,Marzo 2022,Febrero 2022,Enero 2022,Media,Total
0,Gastos,-9125.04,-8505.44,-12485.53,-5234.44,-3461.1,-8288.79,-7771.75,-5210.0,-5021.79,-5208.63,-4370.48,-4858.84,-6628.49,-79541.83
1,Ingresos,11082.86,10296.45,9266.42,2727.39,2587.06,5291.84,9110.07,5627.59,5602.14,7735.52,9696.62,2642.34,6805.52,81666.3
2,Total,1957.82,1791.01,-3219.11,-2507.05,-874.04,-2996.95,1338.32,417.59,580.35,2526.89,5326.14,-2216.5,177.03,2124.47

In [27]:
(df_despacho
     .pipe(pivot_by_category_totals, ["Tipo"])
#     .pipe(style_locale_es)
 )

,Tipo,Diciembre 2022,Noviembre 2022,Octubre 2022,Septiembre 2022,Agosto 2022,Julio 2022,Junio 2022,Mayo 2022,Abril 2022,Marzo 2022,Febrero 2022,Enero 2022,Media,Total
0,Gastos,-263.54,-490.46,-2310.61,-440.76,-283.38,-1430.33,-431.15,-593.03,-1782.86,-638.43,-655.18,-627.95,-828.97,-9947.68
1,Ingresos,1938.61,4446.89,8752.27,242.0,50.0,3903.71,3670.0,3413.3,4578.71,5334.69,3290.6,410.0,3335.9,40030.78
2,Total,1675.07,3956.43,6441.66,-198.76,-233.38,2473.38,3238.85,2820.27,2795.85,4696.26,2635.42,-217.95,2506.93,30083.1