In [1]:
from utils import *
import pandas as pd

In [2]:
df_mme = pd.read_csv("data/M.csv")

In [3]:
df_mme.query("Estado != 'R'")

,Identificador,Fecha,Estado,Tipo,Cuenta,Beneficiario,Categoría,Importe,Divisa,Número,Notas
1448,2544,20/12/2022,NaN,Withdrawal,OPENBANK ECUENTA,Desconocido,Desconocido,-20.0,EUR,NaN,NaN

In [4]:
df = df_mme.pipe(clean_data).query("Fecha >= '2022-01-01'")
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [5]:
df.sample(5)

,Fecha,Tipo,Categoria,Subcategoria,Beneficiario,Transaccion,Importe
1493,2022-01-18,Gastos,Despacho - Ocio,Restaurantes,RESTAURANTE MARTILOTA,Cargo,-4.3
1399,2022-10-15,Gastos,Gastos Fijos,Planes de Pensiones,PLAN RENTA FIJA EUROPEA,Cargo,-100.0
678,2022-12-24,Gastos,Gastos Fijos,Abono Transportes,METRO,Cargo,-31.8
68,2022-01-31,Gastos,Gastos Fijos,Paga,AIMAR,Cargo,-5.0
1811,2022-08-01,Gastos,Supervivencia,Holden,KIWOKO,Cargo,-3.99

In [6]:
(df_hogar
    .pipe(pivot_by_category_totals, ["Tipo"])
       .pipe(style_locale_es)
 )

In [7]:
(df_despacho
     .pipe(pivot_by_category_totals, ["Tipo"])
     .pipe(style_locale_es)
 )