In [1]:
import plotly.express as px
import pandas as pd
import plotly
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [77]:
import pandas as pd
import numpy as np
import datetime

def clean_data(df):
    return (df 
        .rename(columns = { 'Categoría' : 'Categoria' }) 
        .query("Tipo != 'Tranfer'")            
        .assign(Fecha = lambda dataset: pd.to_datetime(dataset.Fecha, format = "%d/%m/%Y"),
                Subcategoria = lambda dataset : dataset.Categoria.str.split(':').str.get(1),
                Categoria = lambda dataset : dataset.Categoria.str.split(':').str.get(0),
                Tipo = lambda df: df.Categoria.map(lambda x: "Ingresos" if "Ingresos" in x else "Gastos"),
                Beneficiario = lambda df: df.Beneficiario.fillna("No Definido")
          )
        .query("Estado == 'R'")
        .filter(["Fecha", "Year", "Tipo", "Categoria", "Subcategoria", "Beneficiario", "Importe"])
      )



def return_despacho_movements(df):
        return ( df
            .query("Categoria.str.startswith('Despacho')") 
            .assign(Categoria = lambda df: df.Categoria.str[11:]) 
            .convert_dtypes()
        )
    
def return_hogar_movements(df):
        return (df 
          .assign(
            Beneficiario = lambda df: df.apply(lambda dataset: "No Definido" if dataset.Categoria.startswith("Despacho") else dataset.Beneficiario, axis = 'columns'), 
            Subcategoria = lambda df: df.apply(lambda dataset: "Despacho" if dataset.Categoria.startswith("Despacho") else dataset.Subcategoria, axis = 'columns'), 
            Tipo = lambda df: df.apply(lambda dataset: "Ingresos" if dataset.Categoria.startswith("Despacho") else dataset.Tipo, axis = 'columns'),
            Categoria = lambda df: df.Categoria.map(lambda x: "Ingresos" if x.startswith("Despacho") else x)
          )
            .convert_dtypes()
        )

def total_rows(df, columns):
    if len(columns) > 1:
        group_by_columns = columns[:-1]
        first_column = group_by_columns[-1]
        last_column = columns[-1]

        df_totales = df \
            .groupby(group_by_columns).sum().reset_index() \
            .query(first_column + " not in ['Total']")

        df_totales[last_column] = df_totales[first_column].map(lambda x: "Total" if x == "Total" else "Total " + x)
    else:
        last_column = columns[0]
        df_totales = df.sum(numeric_only=True).to_frame().transpose()
        df_totales[last_column] = "Total"

    return df_totales


def pivot_table(df, left_columns, top_columns, value_column,  aggfunc_name="sum"):
    return (df
            .pivot_table(index =left_columns,
                       columns = top_columns,
                       values=value_column,
                       aggfunc=aggfunc_name,
                       fill_value = 0)
            .reset_index()
            .rename_axis(columns = None)
 )


def sort_columns(df, columns):
    cols = columns + sorted(df.columns[len(columns):].to_list(), reverse=True)
    return df.filter(cols)


def pivot_by_category(df, category):
    from datetime import datetime
    import locale

    locale.setlocale(locale.LC_ALL, 'es_es')
    fist_item = category[0]

    return (
        df
         .assign(Mes = lambda dataset: dataset.Fecha.dt.to_period('M').dt.to_timestamp())
         .pipe(pivot_table, left_columns = category, top_columns = "Mes", value_column = "Importe")
         .pipe(sort_columns, category)
         .rename(columns = lambda col: col if isinstance(col, str) else col.strftime("%B %Y").title())
         .assign(
            Media = lambda dataset: dataset.mean(axis = 'columns'),
            Total = lambda dataset: dataset.drop(columns = "Media").sum(axis = 'columns')
         )
        .reset_index(drop = True)
        .fillna({ fist_item : "Total" })
        .rename_axis(None, axis='columns')
        .round(2)
        .convert_dtypes()
    )


def pivot_by_category_totals(df, columns):
    df_pivot = df.pipe(pivot_by_category, columns)
    df_all_totales = df_pivot
    for n in range(0,len(columns)):
        df_all_totales = pd.concat([df_all_totales, df_pivot.pipe(total_rows, columns[:n + 1])])

    for n in range(0,len(columns)):
        df_all_values = df_all_totales[columns[n]].value_counts().index.to_list()
        df_all_values_total = list(filter(lambda x: x.startswith("Total"), df_all_values))
        df_all_values = list(filter(lambda x: not x.startswith("Total"), df_all_values))
        df_all_values = sorted(df_all_values)
        df_all_values.extend(sorted(df_all_values_total))

        df_all_totales[columns[n]] = pd.Categorical(
            df_all_totales[columns[n]],
            categories=df_all_values,
            ordered=True)

    return df_all_totales.sort_values(columns) \
                    .reset_index(drop = True)

In [78]:
df= (pd.read_csv("data/M.csv") 
    .pipe(clean_data)
  )

In [82]:

def write_to_excel(df, excel_name):
    xlsx = pd.ExcelWriter(excel_name, engine='xlsxwriter')

    save_to_excel_pivot(xlsx, df, ["Tipo"], "Nivel 1")
    save_to_excel_pivot(xlsx, df, ["Tipo", "Categoria"], "Nivel 2")
    save_to_excel_pivot(xlsx, df, ["Tipo", "Categoria", "Subcategoria"], "Nivel 3")
    save_to_excel_pivot(xlsx, df, ["Tipo", "Categoria", "Subcategoria", "Beneficiario"], "Nivel 4")
    save_to_excel_pivot(xlsx, df, ["Beneficiario"], "Beneficiarios")
    #save_to_excel(xlsx, df.pipe(return_beneficiarios), "Beneficario - Categoría")

    xlsx.close()

In [83]:
write_to_excel(df.pipe(return_hogar_movements), 'target/Hogar.xlsx')

NameError: name 'save_to_excel_pivot' is not defined

In [79]:
df = (pd.read_csv("data/M.csv") 
        .pipe(clean_data)
        .pipe(return_hogar_movements)
     )

df.pipe(return_hogar_movements).pipe(pivot_by_category, "Tipo")

In [80]:
pivot_by_category_totals(df, ['Tipo', 'Beneficiario'])

,Tipo,Beneficiario,Enero 2023,Diciembre 2022,Noviembre 2022,Octubre 2022,Septiembre 2022,Agosto 2022,Julio 2022,Junio 2022,Mayo 2022,Abril 2022,Marzo 2022,Febrero 2022,Enero 2022,Media,Total
0,Gastos,5 DE TIRSO,0.0,0.0,0.0,-28.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.17,-28.2
1,Gastos,ADMINISTRACION DE LOTERIA ALCORCON,0.0,-40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.08,-40.0
2,Gastos,AIMAR,0.0,-89.0,-20.0,-20.0,-5.0,-17.0,-115.0,-20.0,-15.0,-50.0,-20.0,-20.0,-20.0,-31.62,-411.0
3,Gastos,ALADINIA NETWORKS,0.0,0.0,0.0,0.0,0.0,-39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,-39.0
4,Gastos,ALCAMPO,0.0,-22.9,0.0,0.0,0.0,0.0,0.0,-13.13,0.0,0.0,0.0,0.0,0.0,-2.77,-36.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,Ingresos,No Definido,0.0,1675.07,3956.43,6441.66,-198.76,-233.38,2473.38,3238.85,2820.27,2795.85,4696.26,2635.42,-217.95,2314.08,30083.1
273,Ingresos,OPENBANK,0.0,17.97,18.47,9.05,5.44,5.14,5.93,5.63,6.28,5.25,7.34,5.15,5.88,7.5,97.53
274,Ingresos,SANTANDER TECNOLOGIA,0.0,5878.24,2815.3,2815.71,2815.3,2815.3,2812.53,5865.59,2801.04,2801.04,2801.04,7056.05,2854.41,3394.73,44131.55
275,Ingresos,Total Ingresos,0.0,11082.86,10296.45,9266.42,2727.39,2587.06,5291.84,9110.07,5627.59,5602.14,7735.52,9696.62,2642.34,6282.01,81666.3
276,Total,NaN,-7.99,2013.02,1791.01,-3219.11,-2507.05,-874.04,-2996.95,1338.32,417.59,580.35,2526.89,5326.14,-2216.5,166.98,2171.68