In [1]:
from utils import *
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv("M.csv") \
                .pipe(clean_data)

In [3]:
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [4]:
write_raw_to_excel(df_despacho, "Raw Despacho.xlsx")
write_raw_to_excel(df_hogar, "Raw Hogar.xlsx")

In [5]:
df_despacho.pipe(pivot_by_category_totals, ["Tipo"])

,Tipo,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Media,Total
0,Gastos,-627.95,-655.18,-638.43,-1782.86,-593.03,-431.15,-1430.33,-283.38,-440.76,-2310.61,-31.8,-919.37,-9225.48
1,Ingresos,410.00,3290.60,5334.69,4578.71,3413.30,3670.00,3903.71,50.00,242.00,8602.27,-13.9,3349.53,33481.38
2,Total,-217.95,2635.42,4696.26,2795.85,2820.27,3238.85,2473.38,-233.38,-198.76,6291.66,-45.7,2430.16,24255.90

In [6]:
df_hogar.pipe(pivot_by_category_totals, ["Tipo"])

,Tipo,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Media,Total
0,Gastos,-4858.84,-4370.48,-5208.63,-5062.51,-5158.00,-8112.99,-8256.59,-3461.10,-5234.44,-12485.53,-1659.49,-6220.91,-63868.60
1,Ingresos,2642.34,9696.62,7734.90,5601.45,5626.93,9109.38,5291.18,2586.37,2726.70,9115.35,-45.03,6013.12,60086.19
2,Total,-2216.50,5326.14,2526.27,538.94,468.93,996.39,-2965.41,-874.73,-2507.74,-3370.18,-1704.52,-207.79,-3782.41

In [7]:
write_to_excel(df_hogar, 'Contablidad.xlsx')
write_to_excel(df_despacho, 'Despacho.xlsx')