In [15]:
from utils import *
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [16]:
df = pd.read_csv("M.csv") \
                .pipe(clean_data)

In [17]:
df_despacho = df.pipe(return_despacho_movements)
df_hogar = df.pipe(return_hogar_movements)

In [18]:
#write_raw_to_excel(df_despacho, "Raw Despacho.xlsx")
#write_raw_to_excel(df_hogar, "Raw Hogar.xlsx")

In [19]:
df_despacho.pipe(pivot_by_category_totals, ["Tipo"])

,Tipo,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Media,Total
0,Gastos,-627.95,-655.18,-638.43,-1782.86,-593.03,-431.15,-1430.33,-283.38,-440.76,-2310.61,-241.28,-919.37,-9434.96
1,Ingresos,410.00,3290.60,5334.69,4578.71,3413.30,3670.00,3903.71,50.00,242.00,8752.27,1386.89,3364.53,35032.17
2,Total,-217.95,2635.42,4696.26,2795.85,2820.27,3238.85,2473.38,-233.38,-198.76,6441.66,1145.61,2445.16,25597.21

In [13]:
df_hogar.pipe(pivot_by_category_totals, ["Tipo"])

,Tipo,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Media,Total
0,Gastos,-4858.84,-4370.48,-5208.63,-5062.51,-5158.00,-8112.99,-8256.59,-3461.10,-5234.44,-12485.53,-4791.12,-6220.91,-67000.23
1,Ingresos,2642.34,9696.62,7734.90,5601.45,5626.93,9109.38,5291.18,2586.37,2726.70,9265.35,1146.28,6028.12,61427.50
2,Total,-2216.50,5326.14,2526.27,538.94,468.93,996.39,-2965.41,-874.73,-2507.74,-3220.18,-3644.84,-192.79,-5572.73

In [14]:
write_to_excel(df_hogar, 'Hogar.xlsx')
write_to_excel(df_despacho, 'Despacho.xlsx')